import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

body {
    background-color: #00000000;
    
  }
  
  #canvas{
    position: relative;
    top: 10px;
    left: 0px;
    z-index:1;
  }
  
  #video{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index:0;
    border: 3px #fff solid;

  }